/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Mali');

body {
  background-color: rgba(214,188,72,0.7);
  font-family: 'Prociono', serif;
  /*font-family: "Open Sans", sans-serif;*/

}

/*span {
  font-family: 'Prociono', serif;  
} */

#navbar {
  max-height: 300px;
}

#bubbles {
	max-height:50px;
	max-width: 100%;
}

#searchInput {
  /*position: absolute;
  right: 0px;*/
}

#contact-pill {
  /*position: relative;*/
  font-size: 15px;
  padding-left: 50px;

}

/* #title {
  font-family: 'Zilla Slab Highlight', cursive;
  font-size: 40px; 
} */

#title-definition {
  font-family: 'Mali', cursive;
  font-size: 25px;
}

#slides {
  height: 735px; 
  max-height: 735px;
/*  width: 1102px; 
  max-width: 1102px; */
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

/*==========  Mobile Media Query ==========*/

/* Smartphones (portrait and landscape) ----------- */ 
@media (min-width : 150px) and (max-width : 380px) {
	
  #title-definition {
    font-size: 10px;
  } 

  .main-logo {
    height: 50px;
    width: 50px;
  }
}

/* Smartphones (portrait and landscape) ----------- */ 
@media (min-width : 320px) and (max-width : 768px) {
  
  canvas {
    width: 100%;
  }
	
  #slides {
    height: 50%;
    width: 50%;
   }
}

/* Smartphones (portrait and landscape) ----------- */
@media (min-width : 380px) and (max-width : 568px) {
	
  #title-definition {
    font-size: 15px;
  } 
	
  .main-logo {
    height: 200px;
    width: 200px;
  }
}

/* iPads (portrait and landscape) ----------- */
@media (min-width : 768px) and (max-width : 1024px) {

  .main-logo {
     height: 250px;
     width: 250px;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
	
 .main-logo {
    height: 250px;
    width: 250px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  .main-logo {
    height: 250px;
    width: 250px;
  }
}

/*==========  Desktop Media Query 
 
@media screen and (min-width: 1400px) {
  nav {
    width: 1400px;
  }
}
@media screen and (min-width: 1500px) {
  nav {
    width: 1500px;
  }
}
@media screen and (min-width: 1600px) {
  nav {
    width: 1600px;
  }
}
@media screen and (min-width: 1900px) {
  nav {
    width: 1900px;
  }
} ==========*/

#bottom-half {
  /*color: rgb(214,188,72);*/
  background: repeating-linear-gradient(
    /*45deg,*/
    rgb(188,214,72),
    /*rgb(81,79,255) 10px,*/
    rgb(197,197,203) 10px,
    rgb(197,197,203) 20px
  );
}

#contact-text {
  color: black;
  opacity: 0.5;
  /*padding-left: 87px;*/
}



#main-border {
  border-style: dashed;
  opacity: 0.6;
}



#schedule-text, #topics-covered, #link-to-record {
  font-size: 30px;
  font-weight: 700;

}

#topics-covered {
  padding-left: 16px;
}

#student-name {
background-color: gray;
padding: 50px;
}

#heart {
  padding-top: 55px;
}

#video-image{
  opacity: .7;
}


#contact-me {
  background-color: rgb(48,106,69);
  padding: 30px 0 30px 0;
  color: white;
  font-size: 30px;
  font-weight: 700;
}


#form-start {
  background-color: rgb(197,197,203);
}

#form-label {
  font-size: 30px;
  font-weight: 700;
}


#submit {
  display: block;
  /*width: 100%;*/
}


#extra-content {
  background-color: white;
}


#artwork {
 /* padding: 30px 0 30px 0; */
 /* padding-left: 50px; */
 text-align: center;
}

/* start list */
#project-list, #links, #artwork {
  font-size: 30px;
  font-weight: 700;
}
/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Style the header */
#myDIV {
  background-color: rgb(48,106,69);
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
#myDIV:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
.projectInput {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.addBtn:hover {
  background-color: #bbb;
}
/* end list */

#record-header {
  color: rgb(0,128,138);
  text-align: center;
}


